<% is_update = current_page?('/screener/update') || current_page?('/screener/update_filter') %>

<div class="row justify-content-around">
  <div class="col-lg-6 <%= 'd-none d-sm-block' if is_update %>">
    <div class="d-flex m-2 justify-content-between">
      <h5 class="text-white">Screeners</h5>
      <div class=" d-block d-sm-none">
        <a class="btn btn-sm btn-outline-secondary" href="<%= screener_url %>">Back</a>
      </div>
    </div>
    <%= render 'screener/table' %>
  </div>
  <div class="col-lg-6">
    <div class="card bg-dark">
      <div class="card-body text-white">
        <% if is_update %>
          <%= render 'screener/configure_update' %>
        <% else %>
          <%= render 'screener/configure_index' %>
        <% end %>
      </div>
    </div>
  </div>
</div>