
<%= form_with scope: :entry, url: screener_new_url, method: "post" do |form| %>
  <%= render 'shared/form_errors', record: @entry %>

  <div class="field form-group">
    <%= label_tag(:name, "Name") %>
    <%= form.text_field(:name, class: 'form-control', id: 'ct-screener-name') %>
  </div>

  <%= submit_tag('Create', class: 'btn btn-sm btn-success ct-card-btn-submit', id: 'ct-screener-create-btn') %>
<% end %>