<table class="table table-striped table-dark ct-table ct-table-history ct-table-head">
  <thead>
  <tr>
    <th class="trade-col-width text-center">Created at</th>
    <th class="trade-col-width text-center">Closed at</th>
    <th class="trade-col-width text-center">Pair</th>
    <th class="trade-col-width text-center">Sell</th>
    <th class="trade-col-width text-center">Buy</th>
    <th class="trade-col-width text-center">Start ($)</th>
    <th class="trade-col-width text-center">Stop ($)</th>
    <th class="trade-col-width text-center">Fee ($)</th>
    <th class="trade-col-width text-center">&Delta; ($)</th>
    <th class="trade-col-width text-center"></th>
  </tr>
  </thead>
</table>
<div class="ct-table-body-parent">
  <table class="table table-striped table-dark ct-table ct-table-history">
    <tbody>

    <% @trades.each do |trade| -%>
      <tr>
        <td>
          <%= render 'shared/cell', content: trade.created_at.strftime('%b-%d %H:%M') %>
        </td>
        <td>
          <%= render 'shared/cell', content: trade.closed_at.strftime('%b-%d %H:%M') %>
        </td>
        <td>
          <%= render 'shared/cell', content: "#{trade.sell_symbol}/#{trade.buy_symbol}" %>
        </td>
        <td>
          <%= render 'shared/cell', content: "#{trade.sell_count.abs.round(3)} #{trade.sell_symbol}" %>
        </td>
        <td>
          <%= render 'shared/cell', content: "#{trade.count} #{trade.buy_symbol}" %>
        </td>
        <td>
          <%= render 'shared/cell', content: trade.start_usd * trade.count %>
        </td>
        <td>
          <%= render 'shared/cell', content: trade.stop_usd * trade.count %>
        </td>
        <td>
          <%= render 'shared/cell', content: trade.fees_usd %>
        </td>
        <td>
          <% current_total = (trade.stop_usd - trade.start_usd) * trade.count - trade.fees_usd %>
          <%= render 'shared/cell_deco', value: current_total, red: -100, green: 100 %>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <%= link_to "&#x2699".html_safe, history_update_path(id: trade.id), class: 'btn btn-sm btn-outline-light ct-table-btn' %>
          </div>
        </td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</div>
<% if @trades.empty? %>
  <div class="alert alert-secondary" role="alert">No trades to display</div>
<% end %>