<%= form_with scope: :trade, url: trade_create_url, local: true do |form| %>

  <% if @trade.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @trade.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= label_tag(:sell_symbol, "Sell") %>
    <%= form.select(:sell_symbol, options_for_select(@symbols, 'USDT'), {}, {:id => 'ct-sell-select-symbol', :class => 'form-control'}) %>
  </div>

  <%= render 'shared/text_row', parent: form, id: 'ct-start-sell-usd', label: 'Sell Price ($)', symbol: :sell_start_usd %>

  <div class="field form-group">
    <%= label_tag(:buy_symbol, "Buy") %>
    <%= form.select(:buy_symbol, options_for_select(@symbols, 'BTC'), {}, {:id => 'ct-select-symbol', :class => 'form-control'}) %>
  </div>

  <%= render 'shared/text_row', parent: form, id: 'ct-new-count', label: 'Buy Count', symbol: :count %>

  <%= render 'shared/text_row', parent: form, id: 'ct-start-usd', label: 'Start Price ($)', symbol: :start_usd %>

  <%= render 'shared/text_row', parent: form, id: 'ct-stop-usd', label: 'Initial Stop ($)', symbol: :init_stop_usd %>

  <%= render 'shared/readonly_row', label: 'Risk', id: 'ct-risk', symbol: :risk %>

  <%= submit_tag("Create", id: 'ct-create', class: 'btn btn-sm btn-success ct-card-btn-submit') %>

  <%= link_to 'Reset', trade_url, class: 'btn btn-sm btn-secondary ct-card-btn-submit' %>
<% end %>