<%= form_with scope: :trade, url: trade_create_url, local: true do |form| %>

  <% if @trade.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @trade.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= label_tag(:sell_symbol, "Sell") %>
    <%= form.select(:sell_symbol, options_for_select(@symbols, 'USDT'), {}, {:id => 'ct-sell-select-symbol', :class => 'form-control'}) %>
  </div>

  <div class="field form-group row">
    <%= label_tag(:sell_start_usd, "Sell Price ($)", class: 'col-sm-6 col-form-label') %>
    <div class='col-sm-6'>
      <%= form.text_field(:sell_start_usd, class: 'form-control', id: 'ct-start-sell-usd') %>
    </div>
  </div>

  <div class="field form-group">
    <%= label_tag(:buy_symbol, "Buy") %>
    <%= form.select(:buy_symbol, options_for_select(@symbols, 'BTC'), {}, {:id => 'ct-select-symbol', :class => 'form-control'}) %>
  </div>

  <div class="field form-group row">
    <%= label_tag(:count, "Buy Amount", class: 'col-sm-6 col-form-label') %>
    <div class='col-sm-6'>
      <%= form.text_field(:count, class: 'form-control', id: 'ct-new-count') %>
    </div>

  </div>

  <div class="field form-group row">
    <%= label_tag(:start_usd, "Start Price ($)", class: 'col-sm-6 col-form-label') %>
    <div class='col-sm-6'>
      <%= form.text_field(:start_usd, class: 'form-control', id: 'ct-start-usd') %>
    </div>
  </div>

  <div class="field form-group row">
    <%= label_tag(:init_stop_usd, "Initial Stop ($)", class: 'col-sm-6 col-form-label') %>
    <div class='col-sm-6'>
      <%= form.text_field(:init_stop_usd, class: 'form-control', id: 'ct-stop-usd') %>
    </div>
  </div>

  <div class="field form-group row">
    <%= label_tag(:risk, "Risk", class: 'col-sm-6 col-form-label') %>
    <div class='col-sm-6'>
      <input class="form-control" type="text" id="ct-risk" readonly>
    </div>
  </div>

  <%= submit_tag("Create", id: 'ct-create', class: 'btn btn-sm btn-success ct-card-btn-submit') %>

  <%= link_to 'Reset', trade_url, class: 'btn btn-sm btn-secondary ct-card-btn-submit' %>
<% end %>