<table class="table table-dark ct-table">
  <thead>
  <tr>
    <th>Symbol</th>
    <th>Amount</th>
    <th>Start ($)</th>
    <th>Current ($)</th>
    <th>&Delta; ($)</th>
    <th>Trailing stop ($)</th>
    <th>Init stop ($)</th>
    <th>Risk</th>
  </tr>
  </thead>
  <tbody>

  <% @trades.each do |trade| -%>
    <tr>
      <td>
        <div class="ct-chip"><%= trade.symbol %></div>
      </td>
      <td>
        <div class="ct-chip"><%= trade.count %></div>
      </td>
      <td>
        <div class="ct-chip"><%= trade.start_usd %></div>
      </td>
      <td>
        <div class="ct-chip"><%= trade.current_usd == -1 ? 'n.a.' : trade.current_usd %></div>
      </td>
      <td>
        <% if trade.current_usd != -1
             current_total = (trade.current_usd - trade.start_usd) * trade.count
        %>
          <div class="ct-chip alert-<%= current_total > 0 ? 'success' : 'warning' %> ">
            <%= current_total %>
          </div>
        <% end %>
      </td>
      <td>
        <div class="ct-chip"><%= trade.trailing_stop_usd %></div>
      </td>
      <td>
        <div class="ct-chip"><%= trade.init_stop_usd %></div>
      </td>
      <td>
        <% risk = (trade.trailing_stop_usd - trade.start_usd) * trade.count %>
        <div class="ct-chip alert-<%= risk > 0 ? 'success' : 'warning' %> ">
          <%= risk %>
        </div>
      </td>
      <td>
        <%= link_to "&#x2699".html_safe, trade_update_path(id: trade.id), class: 'btn btn-sm btn-warning ct-btn' %>
      </td>
    </tr>
  <% end -%>

  </tbody>
</table>
<% if @trades.empty? %>

  <div class="alert alert-secondary" role="alert">No trades to display</div>

<% end %>