<table class="table table-striped table-dark ct-table">
  <thead>
  <tr>
    <th class="trade-col-width text-center">Symbol</th>
    <th class="trade-col-width text-center">Amount</th>
    <th class="trade-col-width text-center">Start ($)</th>
    <th class="trade-col-width text-center">Current ($)</th>
    <th class="trade-col-width text-center">&Delta; ($)</th>
    <th class="trade-col-width text-center">Trailing ($)</th>
    <th class="trade-col-width text-center">Init ($)</th>
    <th class="trade-col-width text-center">Risk</th>
  </tr>
  </thead>
  <tbody>

  <% @trades.each do |trade| -%>
    <tr>
      <td>
        <%= render 'shared/cell', content: trade.symbol %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.count %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.start_usd %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.current_usd == -1 ? 'n.a.' : trade.current_usd %>
      </td>
      <td>
        <% if trade.current_usd != -1
             current_total = (trade.current_usd - trade.start_usd) * trade.count
        %>
          <%= render 'shared/cell', content: current_total, kind: current_total > 0 ? 'success' : 'warning' %>
        <% end %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.trailing_stop_usd %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.init_stop_usd %>
      </td>
      <td>
        <% risk = (trade.trailing_stop_usd - trade.start_usd) * trade.count %>
        <%= render 'shared/cell', content: risk, kind: risk > 0 ? 'success' : 'warning' %>
      </td>
      <td>
        <div class="d-flex justify-content-center">
          <%= link_to "&#x2699".html_safe, trade_update_path(id: trade.id), class: 'btn btn-sm btn-outline-light ct-btn' %>
        </div>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% if @trades.empty? %>
  <div class="alert alert-secondary" role="alert">No trades to display</div>
<% end %>