<table class="table table-striped table-dark ct-table">
  <thead>
  <tr>
    <th class="trade-col-width text-center">Created at</th>
    <th class="trade-col-width text-center">Pair</th>
    <th class="trade-col-width text-center">Buy</th>
    <th class="trade-col-width text-center">Start ($)</th>
    <th class="trade-col-width text-center">Current ($)</th>
    <th class="trade-col-width text-center">&Delta; ($)</th>
    <th class="trade-col-width text-center">Trailing ($)</th>
    <th class="trade-col-width text-center">Init ($)</th>
    <th class="trade-col-width text-center">Risk</th>
  </tr>
  </thead>
  <tbody>

  <% @trades.each do |trade| -%>
    <tr>
      <td><%= render 'shared/cell', content: trade.created_at.strftime('%b-%d %H:%M') %></td>
      <td>
        <%= render 'shared/cell', content: "#{trade.sell_symbol}/#{trade.buy_symbol}" %>
      </td>
      <td>
        <%= render 'shared/cell', content: "#{trade.count.abs.round(3)} #{trade.buy_symbol}" %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.start_usd %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.current_usd == -1 ? 'n.a.' : trade.current_usd %>
      </td>
      <td>
        <% if trade.current_usd != -1
             current_total = (trade.current_usd - trade.start_usd) * trade.count
        %>
          <%= render 'shared/cell_deco', value: current_total, red: -100, green:100 %>
        <% end %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.trailing_stop_usd %>
      </td>
      <td>
        <%= render 'shared/cell', content: trade.init_stop_usd %>
      </td>
      <td>
        <% risk = (trade.trailing_stop_usd - trade.start_usd) * trade.count %>
        <%= render 'shared/cell_deco', value: risk, red: -100, green:100 %>
      </td>
      <td>
        <div class="d-flex justify-content-center">
          <%= link_to "&#x2699".html_safe, trade_update_path(id: trade.id), class: 'btn btn-sm btn-outline-light ct-btn' %>
        </div>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% if @trades.empty? %>
  <div class="alert alert-secondary" role="alert">No trades to display</div>
<% end %>