<div class="card border-dark ct-card">
  <div class="card-body text-light bg-dark">
    <div class="text-left">
      <a class="btn btn-info btn-sm" data-toggle="collapse" href="#tradeClose" role="button" aria-expanded="false" aria-controls="collapseExample">
        Close
      </a>
      <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#tradeEdit" role="button" aria-expanded="false" aria-controls="collapseExample">
        Edit
      </a>
      <%= link_to 'Delete', trade_destroy_path(id: @trade.id), class: 'btn btn-sm btn-danger' %>
      <%= link_to 'Cancel', trade_list_url, class: 'btn btn-sm btn-secondary' %>

    </div>
    <div class="collapse" id="tradeEdit">
      <br/>
      <div class="alert alert-primary ct-card-title">Edit Trade</div>
      <%= form_with scope: :trade, url: trade_update_post_url, method: "post" do |form| %>

        <div class="field form-group row">
          <%= label_tag(:symbol, "Coin", class: 'col-sm-6 col-form-label') %>
          <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="<%= @trade.symbol %>" readonly>
          </div>
        </div>

        <%= render 'shared/text_row', parent: form, id: 'ct-edit-count', symbol: :count, label: 'Amount' %>
        <%= render 'shared/text_row', parent: form, id: 'ct-start-usd', symbol: :start_usd, label: 'Start Price ($)' %>
        <%= render 'shared/text_row', parent: form, id: 'ct-init-usd', symbol: :init_stop_usd, label: 'Initial Stop ($)' %>
        <%= render 'shared/text_row', parent: form, id: 'ct-trailing-usd', symbol: :trailing_stop_usd, label: 'Trailing Stop ($)' %>

        <%= form.hidden_field(:id) %>
        <%= submit_tag("Save", class: 'btn btn-sm btn-primary', id: 'ct-save-btn') %>

      <% end %>
    </div>
    <div class="collapse show" id="tradeClose">
      <br/>
      <div class="alert alert-info ct-card-title">Close Trade</div>
      <%= form_with scope: :trade, url: trade_close_url, method: "post" do |form| %>

        <%= render 'shared/text_row', parent: form, id: 'ct-stop-usd', symbol: :stop_usd, label: 'Stop Price ($)' %>
        <%= render 'shared/text_row', parent: form, id: 'ct-fees-usd', symbol: :fees_usd, label: 'Fees ($)' %>

        <div class="field form-group row">
          <%= label_tag(:gain_loss_usd, "Gain/Loss ($)", class: 'col-sm-6 col-form-label') %>
          <div class='col-sm-6'>
            <input class="form-control" name="trade[gain_loss_usd]" type="text" id="ct-gain-loss-usd" readonly>
          </div>
        </div>

        <%= form.hidden_field(:id) %>
        <%= submit_tag("Close Trade", class: 'btn btn-sm btn-info', id: 'ct-close-btn') %>
      <% end %>
    </div>
  </div>
</div>