<% balances = local_assigns.fetch(:model) %>
<table class="table table-striped table-sm table-dark ct-table ct-table-head">
  <thead>
  <tr>
    <th class="ledger-col-width text-center">Symbol</th>
    <th class="ledger-col-width text-center">Balance</th>
    <th class="ledger-col-width text-center">Balance (<%= ref_char %>)</th>
  </tr>
  </thead>
</table>
<div class="ct-table-body-parent-footer">
  <table class="table table-striped table-sm table-dark ct-table">
    <tbody>
    <%
      total_ref = 0
      balances.each do |entry|
        balance_ref = entry[:count_ref]
           if balance_ref.is_a? Numeric
             total_ref += balance_ref
             next if balance_ref.abs < 0.1 || entry.count.abs < 0.0001
           end
 %>
      <tr>
        <td><%= render 'shared/cell', content: entry[:symbol] %></td>
        <td><%= render 'shared/cell', content: num_norm(entry[:count]) %></td>
        <td><%= render 'shared/cell', content: entry[:count_ref] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<table class="table table-striped table-dark ct-table">
  <tfoot>
  <tr>
    <td><%= render 'shared/cell', content: "Total (#{ref_char})" %></td>
    <td></td>
    <td><%= render 'shared/cell', kind: total_ref > 0 ? 'info' : 'warning', content: total_ref %></td>
  </tr>
  </tfoot>
</table>
