<% entry = local_assigns.fetch(:model) %>
<%= form_with scope: :entry, model:entry, url: ledger_regul_url, local: true, method: "post" do |form| %>
  <%= render 'shared/form_errors', record: entry %>

  <%= render 'shared/select_symbol', symbol: :symbol, id: 'regul-symbol',
             parent: form, default: ref_coin, label: 'Currency' %>


  <div class="field form-group">
    <%= label_tag(:count, "Current Balance") %>
    <%= form.text_field(:count, class: 'form-control') %>
  </div>

  <div class="field form-group">
    <%= label_tag(:description, "Label") %>
    <%= form.text_field(:description, class: 'form-control') %>
  </div>

  <%= submit_tag('Regulation', class: 'btn btn-sm btn-info ct-card-btn-submit') %>
<% end %>