<div class="row justify-content-end">
  <div class="col text-right">
    <small class="text-light">Last update <%= time_ago_in_words(@last_update) %> ago.</small>
  </div>
</div>
<div class="row">

  <div class="col">
    <table class="table table-striped table-dark ct-table">
      <thead>
      <tr>
        <% @columns.each do |col| -%>
          <th class="text-center index-col-width"><%= col.key?(:label) ? col[:label].html_safe : col[:name].capitalize %></th>
        <% end %>
      </tr>
      </thead>
    </table>
    <div class="ct-coins">
      <table class="table table-striped table-dark ct-table">
        <tbody>
        <% @currencies.each do |currency| -%>
          <tr>
            <% @columns.each do |col| -%>
              <td>
                <% kind = col.key?(:kind) ? col[:kind].call(currency) : 'empty'
                   align = col.key?(:align) ? col[:align] : 'right'
                %>

                <% if col.key?(:link) %>
                  <div class="d-flex justify-content-center">
                    <a class='btn btn-sm btn-outline-light ct-btn' target="_blank" href='<%= col[:link].call(currency) %>'>&#128279;</a>
                  </div>
                <% elsif col.key?(:deco) && col[:deco] %>
                  <%= render 'shared/cell_deco', value: col[:get_value].call(currency) %>
                <% else %>
                  <div class="ct-chip alert-<%= kind %> alert-<%= align %>">
                    <%= col.key?(:get_value) ? col[:get_value].call(currency) : currency[col[:name]] %>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>